{% extends "layout.html" %}

{% block title %}
    Confirm
{% endblock %}

{% block main %}

<form action="/confirm" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
    </div>
    <div class="form-group">
        <input class="form-control" name="confirmation_code" placeholder="Confirmation_code" type="text" required>
    </div>
    <button class="btn btn-primary" type="submit" value="Confirm">Confirm</button>
</form>

<p>Already confirmed? <a href="/login">Log in here</a>.</p>


{% endblock %}
