{% extends "layout.html" %}

{% block title %}
    News
{% endblock %}

{% block main %}
<div class="search-container">
    <form action="{{ url_for('news') }}" method="post">
        <input type="text" placeholder="Search..." name="query">
        <button type="submit">Search</button>
    </form>
</div>

<div class="table-container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Sr.no</th>
                <th scope="col">News</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in data %}
            <tr>
                <td>{{ entry.index }}</td>
                <td>{{ entry.summary }}</td>
                <td><a href="{{ entry.url }}" target="_blank">{{ entry.url }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
