{% extends "layout.html" %}

{% block title %}
    MarketData
{% endblock %}

{% block main %}
<form method="post" action="/quote">
    <div class="form-group">
        <label for="symbol">Stock:</label>
        <select class="form-control" id="symbol" name="stock_symbol">
            {% for stock_symbol in stock_symbols %}
                <option value="{{ stock_symbol['symbol'] }}">{{ stock_symbol['shortName'] }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        {{ candlestick_chart | safe }}
    </div>
    
    <button type="submit" class="btn btn-primary">Get Quote</button>
</form>
{% endblock %}
