{% extends "layout.html" %}

{% block title %}
    MarketData
{% endblock %}

{% block main %}
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["shortName"] }}</td>
                <td>${{ stock["price"] | round(2) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}